:root {
  --bg-button: #0078D7;
  --bg-button-hover: #005a9e;
  --border: 1px solid #0078d5 ;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins",sans-serif;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: var(--border);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow) ;
}