:root {
    --bg:#090909;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
 background-color: var(--bg);
}

.container {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

#barra-acessibilidade{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #3f3f48;
    background-color: #090909;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
}

.titli {
    padding: 10px;
    margin: 5px;
    color: #fff; 
}

.acessi {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}

.acessi:hover {
    background-color: #4d4d85;
    color: #fff;
}

.pesquisa {
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
    margin-right: 35px;
}

.icone  {
    position: absolute;
    top: 50%;
    left: 97.5%;
    transform: translate(-50%,-50%);
}

.men-imagem {
    background-image: url("https://totalpass.com/wp-content/uploads/2023/11/Acessibilidade-na-academia.jpg");
    height: 700px;
    width: 180vh;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin-top: 40px;
    flex-direction: column;
    filter: brightness(90%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.men-imagem h2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 300px;
    position: absolute;
}

.men-imagem p {
    font-size: 2rem;
    position: absolute;
    top: 40%;
    color: #ffffff;
}
